html, body, #root {
  height: 100%
}

.App {
  width: 100vw;
  height: 75vw;
  overflow: hidden;
  margin: auto;
}

.Start {
  background-image: url(./assets/main/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

* {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
