.BadEnd {
  background-image: url(./assets/fail/fail.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.BadEndButton {
  width: 29vw;
  height: 9.4vw;
  position: absolute;
  bottom: 18vw;
  right: 32vw;
  cursor: pointer;
}

.BadEndBug {
  position: absolute;
  top: 17vw;
  right: 41vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.BadEndCounter {
  font-size: 2.5vw;
  width: 3.5vw;
  margin-left: 2vw;
}

.BadEndBugIcon {
  width: 4.5vw;
  height: 4.5vw;
}
