.GoodEnd {
  background-image: url(./assets/win/win.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.GoodEndButton {
  width: 29vw;
  height: 9.4vw;
  position: absolute;
  bottom: 18vw;
  right: 32vw;
  cursor: pointer;
}
