.Play {
  background-image: url(./assets/play/play.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.Info {
  color: white;
  font-weight: bold;

}

.InfoBoard {
  display: flex;
  justify-content: space-between;
}

.InfoHealth {
  text-align: center;
  margin: 2vw;
  vertical-align: middle;
  width: 16.6vw;
  height: 5vw;
  background: rgba(0,0,0,0.1);
  border-radius: 0.4vw;
  border: 0.1vw solid rgba(255,255,255,0.5);
}

.InfoMotivation {
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  font-family: Arial;
  padding: 3vw;
}

.InfoTimer {
  color: white;
  font-size: 3.3vw;
  font-family: Arial;
  text-align: center;
  line-height: 5vw;
  margin: 2vw;
  vertical-align: middle;
  width: 16.6vw;
  height: 5vw;
  background: rgba(0,0,0,0.1);
  border-radius: 0.4vw;
  border: 0.1vw solid rgba(255,255,255,0.5);
  position: relative;
}

.InfoTimerIcon {
  position: absolute;
  transform: translate(-100%, 0);
  top: 1vw;
  left: -1vw;
  width: 2.5vw
}

.BugContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BugCounter {
  font-size: 2.5vw;
  width: 3.5vw;
}

.BugIcon {
  width: 3.5vw;
  height: 3.5vw;
}

.HealthPane {
  margin: 1vw;
  width: 3.3vw;
  height: 3vw;
}

.FigureRowWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.FigureRow {
  position: relative;
}

.Girl {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate 5s infinite;
}

.Guy1-L {
  background-image: url(./assets/play/med1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-1-L .7s infinite;*/
}

.Guy2-L {
  background-image: url(./assets/play/med2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-2-L .7s infinite;*/
}

.Guy3-L {
  background-image: url(./assets/play/med3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-3-L .7s infinite;*/
}

.Guy1-R {
  background-image: url(./assets/play/med1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-1-R .7s infinite;*/
}

.Guy2-R {
  background-image: url(./assets/play/med2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-2-R .7s infinite;*/
}

.Guy3-R {
  background-image: url(./assets/play/med3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*animation: walk-3-R .7s infinite;*/
}

/*@keyframes walk-1-L {
  0% {
    background-image: url(./assets/play/left-g-1.png);
  }
  50% {
    background-image: url(./assets/play/left-g-1-2.png);
  }
  100% {
    background-image: url(./assets/play/left-g-1.png);
  }
}



@keyframes walk-2-L {
  0% {
    background-image: url(./assets/play/left-g-2.png);
  }
  50% {
    background-image: url(./assets/play/left-g-2-2.png);
  }
  100% {
    background-image: url(./assets/play/left-g-2.png);
  }
}

@keyframes walk-3-L {
  0% {
    background-image: url(./assets/play/left-g-3.png);
  }
  50% {
    background-image: url(./assets/play/left-g-3-2.png);
  }
  100% {
    background-image: url(./assets/play/left-g-3.png);
  }
}

@keyframes walk-1-R {
  0% {
    background-image: url(./assets/play/rightt-g-1.png);
  }
  50% {
    background-image: url(./assets/play/rightt-g-1-2.png);
  }
  100% {
    background-image: url(./assets/play/rightt-g-1.png);
  }
}

@keyframes walk-2-R {
  0% {
    background-image: url(./assets/play/right-g-2.png);
  }
  50% {
    background-image: url(./assets/play/right-g-2-2.png);
  }
  100% {
    background-image: url(./assets/play/right-g-2.png);
  }
}

@keyframes walk-3-R {
  0% {
    background-image: url(./assets/play/right-g-3.png);
  }
  50% {
    background-image: url(./assets/play/right-g-3-2.png);
  }
  100% {
    background-image: url(./assets/play/right-g-3.png);
  }
}*/

@keyframes throw {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  0% {
    background-image: url(./assets/play/d1.png);
  }
  9% {
    background-image: url(./assets/play/d1.png);
  }
  10% {
    background-image: url(./assets/play/d2.png);
  }
  19% {
    background-image: url(./assets/play/d2.png);
  }

  20% {
    background-image: url(./assets/play/d3.png);
  }
  49% {
    background-image: url(./assets/play/d3.png);
  }

  50% {
    background-image: url(./assets/play/d4.png);
  }
  59% {
    background-image: url(./assets/play/d4.png);
  }

  60% {
    background-image: url(./assets/play/d5.png);
  }
  69% {
    background-image: url(./assets/play/d5.png);
  }

  70% {
    background-image: url(./assets/play/d4.png);
  }
  79% {
    background-image: url(./assets/play/d4.png);
  }

  80% {
    background-image: url(./assets/play/d3.png);
  }
  89% {
    background-image: url(./assets/play/d3.png);
  }

  90% {
    background-image: url(./assets/play/d2.png);
  }
  99% {
    background-image: url(./assets/play/d2.png);
  }

  100% {
    background-image: url(./assets/play/d1.png);
  }
}
